body{
    background-color: #ebedec;
    font-family:'Courier New', Courier, monospace ;
    text-align: center;    
    color: white;
}

h2{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: left;
    color: white;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    font-family: optima;    
}

h4{
    vertical-align: top;
    font-size: 23px;
    letter-spacing: 5px;
    font-family: optima;
}

p{
    font-size: 16px;
}

.contact-details-text{
    font-family: optima;
    letter-spacing: 3px;
    font-weight: bold; 
    text-decoration: underline;
}

p2{
  font-size: 18px;
  text-align: center;
    line-height: 30px;
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}


.contactMeText{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin-left: 100px;
    margin-right: 100px;
}

.contactDetails{
text-align: center;
margin-left: 50px;
margin-right: 50px;
}


/*for tablet screens*/
@media only screen and (max-width: 1024px){


    h2{
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 10px;
        text-align: left;
        color: white;
        -webkit-text-stroke-color: #000000;
        -webkit-text-stroke-width: 1px;
        font-family: optima;    
        padding-top: 100px;
    }
    
    p2{
        font-size: 22px;
        text-align: center;
          line-height: 30px;
      }


      p{
        font-size: 20px;
    }

    h4{
        vertical-align: top;
        font-size: 27px;
        letter-spacing: 5px;
        font-family: optima;
    }


    .grid-container{
        display: block;
        align-items: center;
    }
}



  

