body{
    background-color: #ebedec;
    font-family:'Courier New', Courier, monospace ;
    text-align: center;    
    color: white;
}

h2{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: left;
    color: white;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    font-family: optima;    
}

h4{
    vertical-align: top;
    font-size: 23px;
    letter-spacing: 5px;
    font-family: optima;
}

p{
    font-size: 16px;
}

.contact-details-text{
    font-family: optima;
    letter-spacing: 3px;
    font-weight: bold; 
    text-decoration: underline;
}

p2{
  font-size: 18px;
  text-align: center;
    line-height: 30px;
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}


.contactMeText{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin-left: 100px;
    margin-right: 100px;
}

.contactDetails{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

label{
    color: #fff;
}

input{
    border-radius: 15px;
}

select{
    border-radius: 15px;
}

textarea{
    border-radius: 15px;
}

input#submit {

    width: 100px;
    height: 40px;
    color: white;
    background-color: #645f8a;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-family: optima;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 15px;
    border-color: white;
}

#submit:hover{
    background-color: #5d3c76;
    cursor: pointer;
}

.important {
    color: red;
}

form#payment{
    color: #fff;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*for tablet screens*/
@media only screen and (max-width: 1024px){


    h2{
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 10px;
        text-align: left;
        color: white;
        -webkit-text-stroke-color: #000000;
        -webkit-text-stroke-width: 1px;
        font-family: optima;    
        padding-top: 100px;
    }
    
    p2{
        font-size: 22px;
        text-align: center;
        line-height: 30px;
    }


    p{
        font-size: 20px;
    }

    h4{
        vertical-align: top;
        font-size: 27px;
        letter-spacing: 5px;
        font-family: optima;
    }


    .grid-container{
        display: block;
        align-items: center;
    }

    .contactMeText{
        text-align: center;
        align-items: center;
        vertical-align: middle;
        margin-left: 150px;
        margin-right: 150px;
    }

    .contactDetails{
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 20px;
    }
}



  

