.banner {
    width:auto;
    height: 95px;
    border: solid; 
    background-color: pink;
    border-color: pink;
    border-width: 10px;
    margin:auto;
}

.box {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 10%;
    padding: 5px;
}
  
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }
